body {
    background-image: url("wp8343520-sloth-cartoon-wallpapers.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 97vh;
}

.btn-header {
    display:flex;
    justify-content: space-between;

}